img.movie-img {
  max-width: 250px;
}

.container h2 {
  text-align: center;
}

.movies-background {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin-top: 15px;
}

.movie-card {
  background: rgb(145, 62, 62);
  border-radius: 0px;
  border: 1px solid #ccc;
  padding: 15px;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.movie-card {
  background: white;
  border-radius: 0px;
  border: 1px solid #ccc;
  padding: 15px;
}

.movie-title {
  margin: 0;
  font-size: 1.2rem;
}



tr:hover {
  background-color: aliceblue;
  cursor: pointer;
}

thead {
  background-color: mediumturquoise;
}
